<h3 style="text-align: center;">Accidental Claim Form</h3>
<div class="container container-fluid" style="padding: 2%">
  <div class="row padding-5">
    <div class="col-lg-2" style="text-align: left">
      <div class="ui-inputgroup">
        <label>Full Name</label>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ui-inputgroup" style="text-align: left">
        <span class="ui-inputgroup-addon">
          <i class="fa fa-user"></i>
        </span>
        <input type="text" pInputText placeholder="Name">
      </div>
    </div>
    <div class="col-lg-2" style="text-align: left">
      <div class="ui-inputgroup">
        <label>Primary Mobile No</label>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ui-inputgroup" style="text-align: left">
        <span class="ui-inputgroup-addon">
          <i class="fa fa-mobile"></i>
        </span>
        <input type="text" pInputText placeholder="Primary Mobile No">
      </div>
    </div>
  </div>

  <div class="row padding-5">
    <div class="col-lg-2" style="text-align: left">
      <div class="ui-inputgroup">
        <label>Father Name</label>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ui-inputgroup" style="text-align: left">
        <span class="ui-inputgroup-addon">
          <i class="fa fa-user"></i>
        </span>
        <input type="text" pInputText placeholder="Father Name">
      </div>
    </div>
    <div class="col-lg-2" style="text-align: left">
      <label>Alternate Mobile No</label>
    </div>
    <div class="col-lg-4">
      <div class="ui-inputgroup" style="text-align: left">
        <span class="ui-inputgroup-addon">
          <i class="fa fa-mobile"></i>
        </span>
        <input type="text" pInputText placeholder="Alternate Mobile No">
      </div>
    </div>
  </div>

  <div class="row padding-5">
    <div class="col-lg-2" style="text-align: left">
      <div class="ui-inputgroup">
        <label>Current Address</label>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ui-inputgroup" style="text-align: left">
        <span class="ui-inputgroup-addon">
          <i class="fa fa-address-book-o"></i>
        </span>
        <input type="text" pInputText placeholder="House Number">
      </div>
    </div>
    <div class="col-lg-2" style="text-align: left">
      <div class="ui-inputgroup">
        <label>Primary Email Id</label>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ui-inputgroup" style="text-align: left">
        <span class="ui-inputgroup-addon">
          <i class="fa fa-envelope-open"></i>
        </span>
        <input type="text" pInputText placeholder="Primary Email Id">
      </div>
    </div>
  </div>
  <div class="row padding-5">
    <div class="col-lg-2" style="text-align: left">
      <div class="ui-inputgroup"> </div>
    </div>
    <div class="col-lg-4">
      <div class="ui-inputgroup" style="text-align: left">
        <span class="ui-inputgroup-addon"></span>
        <input type="text" pInputText placeholder="City District">
      </div>
    </div>
    <div class="col-lg-2" style="text-align: left">
      <div class="ui-inputgroup">
        <label>Second Email Id</label>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ui-inputgroup" style="text-align: left">
        <span class="ui-inputgroup-addon">
          <i class="fa fa-envelope-open"></i>
        </span>
        <input type="text" pInputText placeholder="Second Email Id">
      </div>
    </div>
  </div>

  <div class="row padding-5">
    <div class="col-lg-2" style="text-align: left">
      <div class="ui-inputgroup"> </div>
    </div>
    <div class="col-lg-4">
      <div class="ui-inputgroup" style="text-align: left">
        <span class="ui-inputgroup-addon"></span>
        <input type="text" pInputText placeholder="State">
      </div>
    </div>
    <div class="col-lg-2" style="text-align: left">
      <!--<div class="ui-inputgroup">
              <label>Course</label>
            </div>-->
      <div class="ui-inputgroup">
        <label>Date of Birth</label>
      </div>
    </div>
    <div class="col-lg-4">
      <!-- <div class="ui-inputgroup" style="text-align: left">
              <span class="ui-inputgroup-addon"></span>
              <p-dropdown [options]="cities1" [(ngModel)]="selectedCity1"></p-dropdown>
            </div>-->
      <div class="ui-inputgroup" style="text-align: left">
        <span class="ui-inputgroup-addon">
          <i class="fa fa-calendar"></i>
        </span>
        <p-calendar [(ngModel)]="value"></p-calendar>
      </div>
    </div>
  </div>

  <div class="row padding-5">
    <div class="col-lg-2" style="text-align: left">
      <div class="ui-inputgroup"> </div>
    </div>
    <div class="col-lg-4">
      <div class="ui-inputgroup" style="text-align: left">
        <span class="ui-inputgroup-addon"></span>
        <input type="text" pInputText placeholder="Pin Code">
      </div>
    </div>
    <div class="col-lg-2" style="text-align: left">
      <!--<div class="ui-inputgroup">
              <label>Date of Birth</label>
            </div>-->
      <div class="ui-inputgroup">
        <label>Gender</label>
      </div>
    </div>
    <div class="col-lg-4">
      <!-- <div class="ui-inputgroup" style="text-align: left">
              <span class="ui-inputgroup-addon"><i class="fa fa-calendar"></i></span>
              <p-calendar [(ngModel)]="value"></p-calendar>
            </div>-->
      <div class="ui-inputgroup" style="text-align: left">
        <label>Male&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <p-radioButton name="groupGender" value="M" [(ngModel)]="selectedGender"></p-radioButton>
        <label>&nbsp;&nbsp;&nbsp;&nbsp;Female&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <p-radioButton name="groupGender" value="F" [(ngModel)]="selectedGender"></p-radioButton>
      </div>
    </div>
  </div>
  <div class="row padding-5">
    <div class="col-lg-2" style="text-align: left">
      <div class="ui-inputgroup">
        <label>Permanent Address</label>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ui-inputgroup" style="text-align: left">
        <span class="ui-inputgroup-addon">
          <i class="fa fa-address-book-o"></i>
        </span>
        <input type="text" pInputText placeholder="House Number">
      </div>
    </div>
    <div class="col-lg-2" style="text-align: left">
      <!--<div class="ui-inputgroup">
              <label>Gender</label>
            </div>-->
    </div>
    <div class="col-lg-4">
      <!--<div class="ui-inputgroup" style="text-align: left">
              <label>Male&nbsp;&nbsp;&nbsp;&nbsp;</label>
              <p-radioButton name="groupGender" value="M" [(ngModel)]="selectedGender"></p-radioButton>
              <label>&nbsp;&nbsp;&nbsp;&nbsp;Female&nbsp;&nbsp;&nbsp;&nbsp;</label>
              <p-radioButton name="groupGender" value="F" [(ngModel)]="selectedGender"></p-radioButton>
            </div>-->
    </div>
  </div>
  <div class="row padding-5">
    <div class="col-lg-2" style="text-align: left">
      <div class="ui-inputgroup"> </div>
    </div>
    <div class="col-lg-4">
      <div class="ui-inputgroup" style="text-align: left">
        <span class="ui-inputgroup-addon"></span>
        <input type="text" pInputText placeholder="City District">
      </div>
    </div>
    <div class="col-lg-2" style="text-align: left">
      <div class="ui-inputgroup"></div>
    </div>
    <div class="col-lg-4">
      <div class="ui-inputgroup" style="text-align: left">
      </div>
    </div>
  </div>

  <div class="row padding-10">
    <div class="col-lg-2" style="text-align: left">
      <div class="ui-inputgroup"> </div>
    </div>
    <div class="col-lg-4">
      <div class="ui-inputgroup" style="text-align: left">
        <span class="ui-inputgroup-addon"></span>
        <input type="text" pInputText placeholder="State">
      </div>
    </div>
    <div class="col-lg-2" style="text-align: left">
      <div class="ui-inputgroup"></div>
    </div>
    <div class="col-lg-4">
      <div class="ui-inputgroup" style="text-align: left">
      </div>
    </div>
  </div>

  <div class="row padding-5">
    <div class="col-lg-2" style="text-align: left">
      <div class="ui-inputgroup"> </div>
    </div>
    <div class="col-lg-4">
      <div class="ui-inputgroup" style="text-align: left">
        <span class="ui-inputgroup-addon"></span>
        <input type="text" pInputText placeholder="Pin Code">
      </div>
    </div>
    <div class="col-lg-2" style="text-align: left">
      <div class="ui-inputgroup"></div>
    </div>
    <div class="col-lg-4">
      <div class="ui-inputgroup" style="text-align: left">
      </div>
    </div>
  </div>

  <div class="row padding-5">
    <div class="col-lg-3" style="text-align: center"></div>
    <div class="col-lg-6" style="text-align: center">
      <div style="padding: 20px;">
        <p-button label="Click" label="Save" styleClass="btn btn-primary"></p-button>
        <span style="padding: 3%"></span>
        <p-button label="Click" label="Clear" styleClass="btn btn-primary"></p-button>
      </div>
    </div>
    <div class="col-lg-3" style="text-align: center">
    </div>
  </div>
</div>